/* Reset default style lil consistency */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Gallery */
.artwork {
  margin: 20px;
  text-align: center;
}

.artwork img {
  max-width: 100%;
  height: auto;
}

/* About and Contact */
section {
  padding: 40px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
